Body {
    background-image: url(imagens/plano8.jpg);
    margin-top: 0px;
	font-family:verdana;
	font-size: 12;
	
}

h1 {
	font-size: 14;
}
#mae_adm {   

	 width: 800px;
	 height:1415px; 
	 background-color: white;
     	
	 
}
#mae_usuarios
{   

	 width: 800px;
	
	 background-color: white;
     	
	 
}
#exclusao
{   

	 width: 800px;
	 
	 background-color: white;
     	
	 
}

#restaurar
{
	width:800px;
	background-color:white;
}

#mae_alt_prod {   

	 width: 800px;
	 height:1415px; 
	 background-color: white;
     	
	 
}
#mae_prod {   

	 width: 800px;
	 height:1350px; 
	 background-color: white;
     	
	 
}
#mae_conres {   

	 width: 800px;
	 height:350px; 
	 background-color: white;
     	
	 
}
#atributos
{
     width: 800px;
	 height:  300px; 
	      float:left;
	 background-color: white;
}
.A
{
	 width: 600px;
	 height: 20px; 
	 background-color: white;
}
.B
{
	 width: 110px;
	 height: 25px; 
 float:left;
	 background-color: white;
}
.C
{
	 width: 490px;
	 height: 20px; 
	 background-color: white;
}