Body {
    background-image: url(imagens/plano8.jpg);
    margin-top: 0px;
	font-family:verdana;
	font-size: 12;
	
}

h1 {
	font-size: 14;
}
#mae_adm {   

	 width: 800px;
	 height:1415px; 
	 background-color: white;
     	
	 
}
#mae_usuarios
{   

	 width: 800px;
	
	 background-color: white;
     	
	 
}
#exclusao
{   

	 width: 800px;
	 height:460px;
	 background-color: white;
     
	 
}

#restaurar
{
	width:800px;
	background-color:white;
}

#mae_alt_prod {   

	 width: 800px;
	 height:1415px; 
	 background-color: white;
     	
	 
}

#formulario
{
	width:500px;
	height:300px;
	background-color:white;
	float:left;
}

#campo_input,#campo_texto
{
	width:250px;
	height:35px;
	float:left;
	background-color:white;
}